@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}

@layer components{
  @responsive {
      .text-shadow {
        text-shadow: 0 2px 4px rgba(0,0,0,0.10);
      }

      .text-shadow-dark {
        text-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
      }
    
      .text-shadow-md {
        text-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.08);
      }
    
      .text-shadow-lg {
        text-shadow: 0 15px 30px rgba(0,0,0,0.11), 0 5px 15px rgba(0,0,0,0.08);
      }
    
      .text-shadow-none {
        text-shadow: none;
      }
    }
}